.team-member {
  margin: 0px 5px;
  padding: 5px 10px;
  background-color: #eeeeee;
}

.team-table-title {
  padding: 5px;
  color: #ffffff;
  background-color: #929aab;
  border: 1px solid #929aab;
}

.team-table-content {
  text-align: left;
  padding: 10px 5px;
  border: 1px solid #929aab;
}
